@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* font-family: 'Russo One', sans-serif; */

.single-product-name {
  padding: 0.3rem 0px 0.4rem 0.6rem;
  font-size: 1.3rem;
  font-family: "Russo One", sans-serif;
}
.buy-now-container {
  display: flex;
}
.counter {
  display: flex;
  justify-content: center;
  border: 0.1px solid rgb(143, 140, 140);
}
.counter p {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.button-inc {
  font-size: 1.5rem;
  min-width: 1.5rem;
  border: none;
  background-color: transparent;
}
.buy-now {
  background-color: black;
  display: flex;
  align-items: center;
  margin: 0px 1rem;
  padding: 0px 4rem;
  color: white;
  cursor: pointer;
  transition: 0.5s ease all;
}
.buy-now:hover {
  background-color: #bb7b1c;
}
.whish-comare-container {
  display: flex;
  margin-top: 1rem;
}
.wish i,
.wish span {
  font-size: 0.6rem;
  margin: 0px 4px;
}
.wish {
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.5s ease all;
}
.wish:hover {
  color: #bb7b1c;
}
.compare i,
.compare span {
  font-size: 0.6rem;
  margin: 0px 4px;
}
.compare {
  cursor: pointer;
  transition: 0.5s ease all;
}
.compare:hover {
  color: #bb7b1c;
}
.navigate {
  margin: 2rem 0rem;
}
.navigate span {
  font-size: 0.9rem;
}
.navigate .link-tag {
  font-size: 0.9rem;
}
.link-tag {
  color: black;
  text-decoration: none;
  margin: 0px 1rem;
}
.link-tag:hover {
  text-decoration: underline;
}
.single-product-icons i,
.single-product-icons a {
  margin: 0.3rem;
  cursor: pointer;
  color: rgb(39, 38, 38);
  transition: .5s ease all;
}
.single-product-icons i:hover,
.single-product-icons a:hover {
 color: #bb7b1c;
}
